[project]
	description = Protocol Buffers - Google's data interchange format
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/poeho
[access "refs/for/refs/*"]
	read = group user/poeho
	push = group user/poeho
	label-Code-Review = -2..+2 group user/poeho
	label-Verified = -1..+1 group user/poeho
	rebase = group user/poeho
	removeReviewer = group user/poeho
	submit = group user/poeho
[access "refs/heads/*"]
	read = group user/poeho
	create = group user/poeho
	push = +force group user/poeho
	pushMerge = group user/poeho
[access "refs/tags/*"]
	push = +force group user/poeho
	pushTag = group user/poeho
	pushSignedTag = group user/poeho
